BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
Language: Cpp
PointerAlignment: Right
SpaceAfterLogicalNot: true
SpaceAroundPointerQualifiers: Before
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
